:root {
  --main-color: #01968e;
  --secondary-color: #cccccc;
  --bg-color: #eeeeee;
  --line-thickness: 3px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 330px;
  margin-bottom: 30px;
}

.progress-bar {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--line-thickness);
  transform: translateY(-50%);
  background-color: var(--secondary-color);
  z-index: -1;
  transition: all 0.5 ease;
}

.progress-bar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: var(--line-thickness);
  transform: translateY(-50%);
  background-color: var(--main-color);
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  font-size: 24px;
  color: var(--secondary-color);
  background-color: white;
  border: var(--line-thickness) solid var(--secondary-color);
  border-radius: 50%;
}

.circle.active {
  color: var(--main-color);
  border-color: var(--main-color);
}

.button {
  margin: 0 6px;
  padding: 9px 27px;
  font-size: 18px;
  color: white;
  background-color: var(--main-color);
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.01);
}

.button:active {
  transform: scale(0.99);
}

.button:focus {
  outline: 0;
}

.button:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}